ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #c1475c;
    font-size: 30px;
    font-weight: 300;
  }
  
  li {
    float: left;
  }
  
  li p {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
  }
  li.tag {
    padding-right: 150px;
    font-size: 50px;
}

p.badge {
    background: slategrey;
}
.navp {
    margin-top: 70px;
    padding-right: 40px;
    text-decoration: none;
}
